.logout-button {
  margin-top: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.artist-display {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.registration-box {
  margin-top: 10px;
}

.login-box {
  margin-top: 10px;
}

.login-button {
  margin-top: 5px;
}
